@import "tailwindcss";



@font-face {
  font-family: "AVENGER";
  src: url('/fonts/AVENGER.woff2') format('woff2');
}

@font-face {
  font-family: "SPIDER";
  src: url('/fonts/spider.woff2') format('woff2');
}


.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.avenger {
  font-family: "AVENGER";
}

.inter {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-style: normal;
}

.spider {
  font-family: "SPIDER";
}